<h1>User info</h1>
<%= form_with model: @user, url:'/users/:id/edit', method: :get do |f| %>

  <h4>Name</h4>
    <%= f.text_field :name %>
  
  <h4>image</h4>
    <%= f.file_field :image, accept: "image/*" %>
    
  <h4>Introduction</h4>
    <%= f.text_area :introduction %>
    
    <%= f.submit 'Update User' %>
    
<% end %>


<% if @user.get_image() %>
  <%= image_tag @user.get_image(), size: "100x100" %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>